@use 'Styles/vars' as *;

.customButton {
  &_primary {
    color: $white !important;
    background: $blue !important;
    &:hover {
      background: $blue-hover !important;
    }
    &:disabled {
      background: $disable-grey !important;
    }
  }
}