$main-bg: #e5e8ed;

$dark-blue: #0a508b;
$light-blue: #1193ff;
$secondary-blue: #057ae3;

$white: #ffffff;

$light-grey: #ebebeb;
$grey: #868a8d;
$disable-grey: #c2cbd1;

$red: #eb5e58;
$dark-red: #b0263d;

$black: #212229;
